.attachment {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid var(--themecolor6);
    padding: 0.5rem;
    border-radius: 1rem;
    position: absolute;
    width: auto;
    height: fit-content;
    max-height: 5rem;
    cursor: pointer;
    transition: 1s;
    left: var(--x);
    top: var(--y);
    overflow-y: scroll;
    overflow-x: hidden;
}

.attachment .attachment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    font-size: medium;
    color: var(--themecolor6);
    min-width: 2rem;
    min-height: 2rem;
}

.attachment .attachment-container p {
    margin: 0;
    max-width: 8rem;
}

.attachment .attachment-container svg {
    min-height: 0.5rem;
    min-width: 0.5rem;
}

.attachment:hover {
    transition: 1s;
    border-color: var(--themecolor3);
}

.attachment:hover .attachment-container {
    transition: 1s;
    color: var(--themecolor3);
}

.attachment.grabbing {
    cursor: grabbing;
}

@supports (scrollbar-width: thin) {
    .attachment {
        scrollbar-width: none;
    }
}