.default-button{
    --default-button-text-color: black;
    --default-button-background: transparent;

    font-size: medium;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    background-color: var(--default-button-background);
    color: var(--default-button-text-color);
    transition: 1s;
}

.default-button:hover {
    background-color: var(--highlight);
    color: var(--backgroundbase);
    border-color: var(--highlight);
}

.select-button {
    --select-button-text-color: black;
    --select-button-background: transparent;

    font-size: medium;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--select-button-background);
    color: var(--select-button-text-color);
    transition: 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    display: block;
}

.select-button:hover {
    background-color: var(--highlight);
    color: var(--backgroundbase);
}

.toggle-button {
    --toggle-button-text-color: rgb(160, 0, 0);
    --toggle-button-background: transparent;
    --toggle-button-highlight: green;

    font-size: medium;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid var(--toggle-button-background);
    background-color: var(--toggle-button-background);
    color: var(--toggle-button-text-color);
    transition: 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    display: block;
}

.toggle-button:hover {
    color: var(--toggle-button-highlight);
}