.button-small-icon {
    display: none;
}

.default-button{
    --highlight: var(--default-button-highlight);
    
    font-size: medium;
    border: 1px solid var(--default-button-outline);
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    background-color: var(--default-button-background);
    color: var(--default-button-highlight);
    transition: 1s;
    box-shadow: 0px 4px 8px rgba(0.3, 0.3, 0.3, 0.3);
    z-index: 1;
}

.default-button:hover {
    background-color: var(--color5);
    color: var(--highlight);
    border-color: var(--highlight);
}

.select-button {
    --select-button-text-color: black;
    --select-button-background: transparent;

    font-size: medium;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--select-button-background);
    color: var(--select-button-text-color);
    transition: 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    display: block;
}

.select-button:hover {
    background-color: var(--default-button-highlight);
}

.toggle-button {
    --toggle-button-text-color: var(--color6);
    --toggle-button-background: var(--default-button-background);
    --toggle-button-highlight: var(--default-button-highlight);
    --toggle-button-border: 1px solid var(--default-button-outline);

    font-size: medium;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    border: var(--toggle-button-border);
    background-color: var(--toggle-button-background);
    color: var(--toggle-button-text-color);
    transition: 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    display: block;
}

.toggle-button:hover {
    color: var(--toggle-button-highlight);
    background-color: var(--translucent-color6);
    border-color: var(--toggle-button-highlight);
}

@media screen and (max-width: 600px) {
    .button-small-icon {
        display: block;
    }

    .button-before-icon {
        display: none;
    }

    .button-after-icon {
        display: none;
    }

    .button-text {
        display: none;
    }
}