/* default styling for functionality */
.visible-menu {
    transition: 1s;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
    display: block;
    width: 100%;
    display: none;
}

.visible-menu.active {
    transition: 1s;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
    display: block;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--hidden-menu-background50);
}

.visible-menu.active .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--hidden-menu-background);
    border-radius: 2rem;
    border: 2px solid var(--outline-color50);
    padding: 1rem;
    margin-bottom: 2rem;
}


/* alternate menu styles */
.dashboard-hidden-menu .inputs {
    width: 30%;
    height: 50%;
}


.hidden-task-create .task-timing-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.hidden-task-create .task-timing-inputs .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.theme-menu .inputs {
    width: 50vw;
    height: 50%;
}

.theme-menu .options {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.theme-menu .options .theme {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
}

.theme-menu .options .theme .colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
}