/* default styling for functionality */
.visible-menu {
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    display: none;
}

.visible-menu.active {
    opacity: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--translucent-color1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.visible-menu.active .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    border: 2px solid var(--outline-color50);
    padding: 1rem;
    margin-bottom: 2rem;
}

.visible-menu.active h1 {
    color: var(--default-text-color);
}

.visible-menu.active .input {
    color: var(--default-text-color);
}

.visible-menu.active .input::placeholder {
    color: var(--default-text-color);
}

.visible-menu.active .default-textbox textarea   {
    border: var(--default-global-outline);
    outline: 1px solid var(--color6);
    color: var(--color6);
    min-height: 10rem;
}

.visible-menu.active .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.visible-menu.active .close-button {
    width: 100%;
    position: fixed;
    top: 5rem;
    padding-left: 5rem;
}


/* ALTERNATE MENU STYLES */


/* DASHBOARD HIDDEN MENUS */

.dashboard-hidden-menu .visible-menu.active .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    height: 30%;
}

.dashboard-hidden-menu .visible-menu.active .close-button {
    position: absolute;
    top: 5rem;
    left: 3rem;
}


/* STAGE CREATE MENU */

.hidden-stage-create p {
    color: var(--themecolor6);
    font-size: small;
}

.hidden-stage-create .input-container {
    margin-bottom: 3rem;
}


/* TASK CREATE MENU */

.hidden-task-create .input {
    color: var(--themecolor6);
}

.hidden-task-create .task-timing-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.hidden-task-create .task-timing-inputs .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.hidden-task-create .task-timing-inputs .block .time-input {
    color: var(--color6);
}

.hidden-task-create .task-timing-inputs .block .date-input {
    color: var(--color6);
}

.hidden-task-create .visible-menu.active label {
    color: var(--color6);
    font-size: medium;
}

.hidden-task-create .visible-menu.active p {
    color: var(--color6);
    font-size: medium;
}

.hidden-task-create .visible-menu.active textarea {
    border: var(--default-global-outline);
    outline: 1px solid var(--color6);
    color: var(--color6);
    min-height: 10rem;
    background-color: transparent;
    border-radius: 1rem;
    min-width: 200px;
    max-width: 90vw;
}

.hidden-task-create .description-update {
    width: 70%;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.hidden-task-create .task-description-container {
    width: 100%;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.hidden-task-create .visible-menu.active textarea::placeholder {
    color: var(--color6);
}

/* ATTACHMENT CREATE MENU */

.create-attachment-menu .visible-menu.active .create-attachment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-attachment-menu .create-attachment .details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* THEME MENU */

.theme-menu h1 {
    color: var(--theme-text-color);
    margin-bottom: 2rem;
}

.theme-menu .inputs {
    width: 50vw;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.theme-menu .toggle-button {
    border: 1px solid var(--themecolor6);
    color: var(--themecolor6);
}

.theme-menu .options {
    z-index: 100;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 4rem;
    border-radius: 2rem;
    border: 1px solid var(--default-global-outline);
}

.theme-menu .options .theme {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
}

.theme-menu .options .user-theme {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
}

.theme-menu .options .theme .colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
}


/* STAGE EDIT MENU */

.hidden-stage-edit h1 {
    text-transform: uppercase;
    font-size: x-large;
}

.hidden-stage-edit .inputs {
    width: 50%;
    color: var(--themecolor6);
    font-size: small;
}

.hidden-stage-edit .inputs .input-container {
    width: 70%;
    margin-bottom: 2rem;
}


/* TASK EDIT MENU */

.hidden-task-edit .visible-menu.active {
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.hidden-task-edit .tools {
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    top: 2rem;
    left: 5rem;
    padding-left: 5rem;
    gap: 1rem;
}

.hidden-task-edit .edit-task-menu {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 5rem;
}

.hidden-task-edit .edit-task-menu h1 {
    font-size: xx-large;
    text-transform: uppercase;
}

.hidden-task-edit textarea::placeholder {
    color: var(--theme-outline-color);
}

.hidden-task-edit .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.hidden-task-edit .input-container input {
    color: var(--themecolor6);
}

.hidden-task-edit .edit-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    gap: 5rem;
}

.hidden-task-edit .edit-options .edit-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    outline: 1px solid var(--theme-outline-color);
    color: var(--themecolor6);
    font-size: small;
    background: var(--themecolor2);
}

.hidden-task-edit .edit-options .edit-attachment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.hidden-task-edit .edit-options .edit-attachment .file-options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.hidden-task-edit .edit-options .edit-attachment p {
    color: var(--themecolor6);
    font-size: small;
}

.hidden-task-edit .edit-options .edit-attachment a {
    color: var(--themecolor6);
    font-size: small;
    text-decoration: none;
    border: 1px solid var(--theme-outline-color);
    padding: 1rem;
    border-radius: 1rem;
}

.hidden-task-edit .edit-options .edit-attachment a:hover {
    transition: 1s;
    background-color: var(--themecolor3);
}

.hidden-task-edit .edit-options .create-button .default-button {
    margin-top: 5rem;
}

.hidden-task-edit select {
    background-color: transparent;
    border: 2px solid var(--themecolor6);
    border-radius: 1rem;
    padding: 1rem;
    font-size: medium;
    font-weight: bold;
    color: var(--themecolor6);
    cursor: pointer;
    outline: none;
}

.hidden-task-edit select:focus {
    border-color: var(--themecolor6);
}

.hidden-task-edit select option {
    color: var(--themecolor1);
    background-color: transparent;
}

.toggle-complete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.toggle-complete p {
    color: var(--color6);
    font-size: large;
}

.switch {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 4rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background-color: transparent;
    transition: .4s;
    border-radius: 2rem;
    border: 2px solid var(--themecolor6);
}

.slider:before {
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    left: 5px;
    bottom: 3px;
    background-color: var(--themecolor6);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--themecolor1);
}

input:checked + .slider:before {
    transform: translateX(6rem);
}


/* COMPLETE TASKS MENU */

.completed-tasks-container {
    transition: 1s;
    max-height: 90vh;
    overflow-y: scroll;
    border-radius: 1rem;
    padding: 3rem;
    place-items: center;
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.completed-task {
    max-height: var(--task-default-size-x);
    max-width: var(--task-default-size-y);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    background: linear-gradient(to top, var(--themecolor3), var(--themecolor1));
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
}

.completed-task:hover {
    transition: 0.5s;
    outline: 1px solid var(--themecolor6);
    transform: translateY(-1rem);
}

.completed-task .ID {
    display: none;
}

.hidden-complete-tasks p {
    color: var(--themecolor6);
    font-size: large;
    padding: 1rem;
    margin: 0;
}

.hidden-complete-tasks .task-name {
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .hidden-complete-tasks .task-description {
        display: none;
    }

    .hidden-task-edit .edit-task-menu {
        padding-top: 5rem;
    }

    .hidden-task-edit .tools {
        padding-left: 0rem;
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .completed-tasks-container {
        transition: 1s;
        gap: 10rem;
        grid-template-columns: repeat(4, 1fr);
    }
}