.hidden-task-create .task-timing-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.hidden-task-create .task-timing-inputs .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.theme-menu .options {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}