.stage {
    --stage-background-color: var(--themecolor2);
    --stage-highlight-color: var(--themecolor3);
    --stage-text-color: var(--themecolor6);

    position: relative;
    width: 800px;
    height: auto;
    min-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--stage-background-color);
    border: 1px solid var(--theme-outline-color);
    border-radius: 2rem;
    margin: 1rem;
    overflow: visible;
    z-index: 1;
}

.stage .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 2rem;
    z-index: 5;
}

.stage .title {
    height: 5rem;
    border-radius: 1rem;
    min-width: 15rem;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--stage-text-color);
}

.stage .tasks {
    flex: 1;
    width: 100%;
    display: flex;
    overflow: auto;
    z-index: 2;
}

.stage .button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.stage .default-button {
    max-width: 15rem;
    margin-bottom: 2rem;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    opacity: 0;
}

.stage:hover .default-button {
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    opacity: 1;
}

.stage .title:hover {
    transition: 1s;
    background-color: var(--stage-highlight-color);
    color: var(--theme-highlight-color);
}