.stage{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: var(--dark-grey);
    border: 1px solid black;
}

.stage .title{
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.stage .tasks{
    flex: 1;
    padding-bottom: 5rem;
}

.stage .default-button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    opacity: 0;
}

.stage:hover .default-button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    opacity: 1;
}

.stage .title:hover{
    transition: 1s;
    background-color: var(--highlight);
    color: var(--backgroundbase);
}