.task {
    height: var(--task-default-size-x);
    width: var(--task-default-size-y);
    border-radius: 2rem;
    background-color: var(--themecolor1);
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    left: var(--x);
    top: var(--y);
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.2s;
    cursor: pointer;
}

.task.grabbing {
    cursor: grabbing;
}

.task .task-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    color: var(--themecolor6);
    border-radius: 2rem 2rem 0 0;
    font-size: large;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

.task .select-button span {
    color: var(--default-text-color);
}

.task .toggle-button {
    border: 0;
    max-width: fit-content;
}

.task .task-body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: var(--themecolor3);
    background: linear-gradient(to top, var(--themecolor3), var(--themecolor1));
}

.task .task-body p {
    font-weight: bold;
    color: var(--themecolor6);
    font-size: small;
    margin: 0;
    margin-top: 1rem;
}

.task .task-body .description-container {
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.task:hover {
    border: 2px solid var(--default-text-color);
}

.task .task-toolbar .drag-handle:hover {
    background: var(--translucent-color3);
}

.task .select-button:hover {
    background: var(--translucent-color3);
}