.task {
    width: 100%;
    max-height: var(--task-default-size-x);
    max-width: var(--task-default-size-y);
    border-radius: 2rem;
    background-color: var(--translucent-theme-color2);
    border: 1px solid black;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    left: var(--x);
    top: var(--y);
}

.task .task-toolbar {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.task .task-toolbar .drag-handle {
    font-size: large;
    cursor: grab;
    height: 100%;
}

.task .task-body {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}