.default-textbox textarea {
    border-radius: 1rem;
    resize: none;
    font-size: large;
}

.default-textbox textarea::placeholder {
    color: var(--color6);
    opacity: 1;
}

.project-textbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.project-textbox textarea {
    width: 100%;
    min-width: 100px;
    max-width: 450px;
    min-height: 10rem;
    max-height: 400px;
    background: transparent;
    border: 2px solid var(--themecolor4);
    outline: none;
    resize: both;
    border-radius: 1rem;
}