body{
  width: 100%;
  height: 100vh;
}

.landing-page{
  min-height: 200vh;
  background: var(--page-default-background);
}

.landing-page .navbar{
  transition: 0.5s;
  height: var(--navbarheight);
  background: var(--navbar-default-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-bottom: var(--navbar-outline);
  box-shadow: var(--under-shadow);
}

.landing-page .navbar .logo{
  transition: 0.5s;
  width: 25rem;
  border-radius: 2rem;
  opacity: 0.8;
  margin-left: 1rem;
}

.landing-page .navbar .menu{
  transition: 0.5s;
  height: 50%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin-right: 3rem;
}

.landing-page .about-section{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: var(--navbarheight);
}

.landing-page .about-section .panel{
  width: 100%;
  height: calc(100vh - var(--navbarheight));
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: appear 5s linear;  
  animation-timeline: view();
  animation-range: entry 30%;
}

.landing-page .about-section .panel .text{
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--default-text-color);
}

.landing-page .about-section .panel .item{
  width: 50rem;
  height: 40rem;
  outline: 1px solid var(--default-text-color);
  border-radius: 20px;
}

.landing-page .footer{
  width: 100%;
  min-height: var(--navbarheight);
  background: var(--footer-default-color);
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.4;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

@media screen and (max-width: 745px) {
  body {
    max-height: 100svh;
  }

  .landing-page .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
  }

  .landing-page .navbar .menu {
    display: none;
  }

  .landing-page .about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: var(--navbarheight);
    padding-top: 2rem;
  }

  .landing-page .about-section .panel{
    width: 90%;
    height: calc(100vh - var(--navbarheight));
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    animation: appear 5s linear;  
    animation-timeline: view();
    animation-range: entry 30%;
  }

  .landing-page .about-section .panel{
    width: 90%;
    height: calc(100vh - var(--navbarheight));
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    animation: appear 5s linear;  
    animation-timeline: view();
    animation-range: entry 30%;
  }

  .landing-page .about-section .panel .item{
    width: 70%;
    height: 30rem;
    outline: 1px solid black;
    border-radius: 20px;
  }
}