body {
    margin: 0;
}

.login-page {
    background: var(--login-default-background);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-box {
    border: 0.1rem solid var(--box-border-color);
    transform: scale(1.25);
    height: 60%;
    width: 40%;
    background: var(--login-box-default-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem; 
    border-radius: 8px;
    max-width: 40rem;
    box-shadow: var(--under-shadow);
}

.login-box h1 {
    padding: 1rem;
    font-family: monospace;
    font-size: 3rem;
    color: var(--default-text-color);
}

.login-box form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box form a{
    color: white;
    text-decoration: none;
    overflow-wrap: anywhere;
}

.login-box form .under-inputs{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.login-box form .under-inputs input{
    color: white;
    transition: 1s;
}

.login-box form .under-inputs label{
    color: white;
    transition: 1s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.login-box form .error{
    transition: 1s;
    opacity: 1;
}

.login-box p{
    margin-top: 3rem;
    margin-bottom: 0;
    color: white;
}

.login-box form .under-inputs label:hover{
    color: var(--darkcolor);
    transition: 1s;
}

.login-box form .under-inputs a:hover{
    color: var(--darkcolor);
    transition: 1s;
    text-decoration: underline;
}

.login-box form .error.hidden{
    transition: 5s;
    opacity: 0 ease-in-out;
}