body, html {
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.project {
    width: 100vw;
    height: 100vh;
    background: var(--project-bg);
    position: relative;
    overflow: scroll;
}

.project .project-title {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.project .project-title .default-button {
    padding: 0.5rem;
    font-size: large;
}

.project .project-title input {
    width: auto ;
    background-color: var(--themecolor2);
    color: var(--themecolor6);
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    outline: none;
    border: none;
}

.project .panels {
    width: 100%;
    height: 95vh;
    max-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.project .panels .toolbar{
    min-height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    padding-right: 1rem;
    padding-left: 1rem;
    gap: 3rem;
    width: 100%;
}

.project .panels .toolbar .tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
    background: var(--themecolor2);
    padding: 2rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2rem;
}

.project .panels .toolbar .input-container input{
    border: 1px solid var(--themecolor6);
}

.project .panels .toolbar .input-container input::placeholder{
    color: 1px solid var(--themecolor6);
}

.project .panels .toolbar h2{
    color: var(--default-text-color);
    margin-left: 2rem;
    height: 100%;
}

.project .panels .project-creation-window{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.project .panels .project-creation-window .new-stage-button{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.project .panels .project-creation-window .stages{
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: left;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 2rem;
    z-index: 4;
}

.project .visible-menu.active {
    background-color: var(--translucent-theme-color5);
}

.project .visible-menu.active h1 {
    color: var(--themecolor6);
}

.project .visible-menu.active p {
    color: var(--themecolor6);
}

.project .visible-menu.active label {
    color: var(--themecolor6);
}

.project .visible-menu.active .options {
    background-color: var(--themecolor2);
    border: 1px solid var(--theme-outline-color);
}

.project .input {
    border: 1px solid var(--theme-outline-color);
    color: var(--themecolor6);
}

.project .default-button {
    border: 1px solid var(--theme-outline-color);
    color: var(--themecolor6);
}

.project .default-button:hover {
    background-color: var(--themecolor3);
    border: 1px solid var(--theme-outline-color);
}

.project .project-creation-window .stages::-webkit-scrollbar {
    display: block;
}

.project .project-creation-window .stages::-webkit-scrollbar-thumb {
    display: block;
    height: 2rem;
    width: 2rem;
    background: var(--themecolor1);
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .project .panels .toolbar .tools{
        transition: 0.5s;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
}