.default-button{
    --default-button-text-color: black;
    --default-button-background: transparent;

    font-size: medium;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    background-color: var(--default-button-background);
    color: var(--default-button-text-color);
    transition: 1s;
}

.default-button:hover {
    background-color: var(--highlight);
    color: var(--backgroundbase);
    border-color: var(--highlight);
}