/* ROOT Variables */
:root {
    /* Pages */
    --page-default-background: var(--color1);

    --login-default-background: linear-gradient(to bottom, var(--color1), var(--color2));
    --login-box-default-background: linear-gradient(to bottom, var(--color2), var(--color3));
    --signup-default-background: linear-gradient(to top, var(--color1), var(--color2));
    --signup-box-default-background: linear-gradient(to top, var(--color2), var(--color3));

    /* Navbars */
    --navbar-default-color: linear-gradient(to top, var(--color1), var(--color2));
    --navbarheight: 15rem;
    --footer-default-color: linear-gradient(to bottom, var(--color1), var(--color2));

    /* Buttons */
    --default-button-background: transparent;
    --default-button-outline: white;
    --default-button-highlight: white;

    /* Fonts */
    font-size: x-small;
    --default-text-color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif;

    /* misc */
    --default-global-outline: white;
    --under-shadow: 5px 4px 8px var(--color1);
    --inside-shadow: inset 4px 4px 8px var(--color2),
                  inset -4px -4px 8px var(--color2);
    
    --color1: #477bd0;
    --color2: #7098da;
    --color3: #98b5e4;
    --color4: #6eb6ff;
    --color5: #a1d0ff;
    --color6: #ffffff;

    --translucent-color1: #477bd075;
    --translucent-color2: #7098da75;
    --translucent-color3: #98b5e475;
    --translucent-color4: #6eb6ff75;
    --translucent-color5: #a1d0ff75;
    --translucent-color6: #ffffff75;


    /* Project colors */
    --themecolor1: #477bd0;
    --themecolor2: #7098da;
    --themecolor3: #98b5e4;
    --themecolor4: #6eb6ff;
    --themecolor5: #a1d0ff;
    --themecolor6: #ffffff;

    --translucent-theme-color1: #98b5e475;
    --translucent-theme-color2: #477bd075;

    --project-bg: linear-gradient(to bottom, var(--themecolor1), var(--themecolor2));


    --theme-text-color: var(---themecolor6);

    /* Task and stage variables */
    --task-default-size-x: 150px;
    --task-default-size-y: 200px;
}

html {
    background-color: black;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    width: 2rem;
    max-height: 3rem;
    background: linear-gradient(180deg, #5790DC, #8DB4E7);
    border-radius: 6px;
    cursor: grabbing;
    outline: 1px solid var(--color6);
}