/* ROOT Variables */
:root {
    /* Colours */
    --darkcolor: black;
    --lightcolor: white;
    --backgroundbase: #647c9039;
    --backgroundbase50: #dcdcdc75;
    --highlight: #ff6347;
    --dark-grey: #85858575;
    --light-background-color: #647c9039;



    --background-image: #647c9039;

    /* Navbars */
    --navbarheight: 10rem;

    /* Fonts */
    font-size: x-small;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    /* Firefox scrollbar style */
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}