:root{
    --darkcolor: black;
    --lightcolor: white;
    --backgroundbase: #DCDCDC;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-container .icon {
    margin-right: 1rem;
    transform: scale(1.25);
    color: var(--darkcolor);
    transition: 1s;
}

.input-container input{
    transition: 1s;
    font-family: monospace;
    font-size: 1.5rem;
    width: 80%;
    padding: 0.5rem; 
    margin: 0.5rem 0; 
    border: 1px solid var(--darkcolor);
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    border-top: 1rem;
    border-left: 1rem;
    border-right: 1rem;
}

.input-container input::placeholder {
    transition: 1s;
    color: var(--fontcolor); 
    opacity: 1; 
}

.input-container:hover .icon{
    transition: 1s;
    color: var(--lightcolor);
}

.input-container input:hover{
    transition: 1s;
    border: 1px solid var(--lightcolor);
    border-top: 1rem;
    border-left: 1rem;
    border-right: 1rem;
}

.input-container input:hover::placeholder{
    transition: 1s;
    color: var(--lightcolor); 
    opacity: 1; 
}

